@import url('https://fonts.googleapis.com/css?family=Lobster');

@import 'variables';

/*Default full viewport application attributes.*/
html,
body, 
#root
{
    height: 100%;
    margin: 0;

    font-family: $fontFamily;
}

.App
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    min-height: 100%;
    color: $textColour;
}