@import url('https://fonts.googleapis.com/css?family=Lobster');

@import 'variables';

/*Default full viewport application attributes.*/
html,
body, 
#root
{
    height: 100%;
    margin: 0;

    font-family: $fontFamily;
}

#App
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    min-height: 100%;
    background: $textColour;
    color: $textColour;
}

#title
{
    margin-top: -40px;
    font-size: 36px;
    color: #fff;

    letter-spacing: 2px;
}

#Buttons
{
    display: flex;
    justify-content: space-between;
}

.button
{
    
    margin: 15px;
}

@media (min-width: 600px)
{
    .button
    {
        margin: 20px;
    }
}

.palette-container
{
    display: flex;
    padding-top: 5px;

    box-shadow: rgba(0, 0, 0, 0.19) 0px 2.5px 5px 0px, rgba(0, 0, 0, 0.23) -2px 1px 6px 0px;
}

.palette-container-colour
{
    width: 30px;
    height: 20px;
}

#dummy-input
{
    display: none;
}